<h1>People People</h1>
<%= link_to "Create New Person", new_person_path%>
<hr />

<% @people.each do |person|%>

<h2><%= person.full_name %></h2>
<p><%= person.alive_or%></p>
<%= link_to "More", person_path(person.id)%>
<%= link_to "Edit", edit_person_path(person.id)%>
<%= link_to "Delete", person_path(person), method: :delete%>


<%end%>
