<h1>People People</h1>
<button class="button"><%= link_to "New", new_person_path%></button>
<hr />

<% @people.each do |person|%>

<h2><%= person.full_name %></h2>
<p><%= person.alive_or%></p>
<button class="button"><%= link_to "More", person_path(person.id)%></button>
<button class="button"><%= link_to "Edit", edit_person_path(person.id)%></button>

<button class= "button"><%= link_to "Delete", person_path(person), method: :delete%></button>

<%end%>
